.header {
  padding: 0 60px;
  height: 13%;
  //background-color:#c9e7de;
  background-color:#e8f3ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-wrapper {
    width: 70px;
    height: 70px;
    .logo-image {
      width: 100%;
    }
  }

  #login-status {
    .logout-button {
      margin-left: 15px;
      @include buttons;
    }

    button {
      @include buttons;
    }
  }
}
