.main {
  background-size: cover;
  width: 100%;
  min-height: 80%;
  background-image: url(../img/v870-mynt-20.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  .search-bar {
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    background-color: #9cd0d4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .search-bar_input {
    @include font-family-Roboto-400-italic;
    font-size: 18px;
    margin-right: 10px;
    height: 30px;
    border-radius: 10px;
    width: 300px;
    padding: 5px 10px;
    &::placeholder {
      @include font-family-Roboto-400-italic;
      font-size: 18px;
    }
  }

  .status-bar_select,
  .urgency-bar_select {
    @include font-family-Roboto-400-italic;
    font-size: 18px;
    margin-right: 10px;
    height: 30px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }

  #visits {
    position: relative;
    background-size: auto;
    padding: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    // .visitDiv {
    //   padding: 20px;
    //   border: 1px solid black;
    //   border-radius: 15px;
    //   box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(52, 47, 47),
    //     0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    //   margin: 10px 0;
    // background-color1: aliceblue;
    // background-color2: rgba(192, 208, 219, 0.628);
    // font-family: "Courier New", Courier, monospace;
    // font-size: 20px;
  }
  .visits-availability {
    text-align: center;
    @include font-family-Roboto-700-italic;
    font-size: 20px;
  }

  .visitTitle {
    display: flex;
    justify-content: space-between;
    @include font-family-Roboto-700-italic;
  }

  .visit_addtitle {
    margin-bottom: 5px;
    text-decoration: underline;
    @include font-family-Roboto-400-italic;
  }

  .visit_checkbox {
    display: flex;
  }

  .button_wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
  }

  h1 {
    font-size: 21px;
    font-weight: bold;
  }

  h2 {
    font-size: 18px;
    //text-decoration-line: underline;
    font-weight: bold;
  }
}
// }
