.main {
  //margin-top: 15px;

  background-size: cover;
  //opacity: 0.3;
  //height: 50%;
  width: 100%;
  min-height: 80%;
  background-image: url(../img/v870-mynt-20.jpg);
  .search-bar {
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: #9cd0d4;
    display: flex;
    justify-content: flex-end;

    &-field {
      display: flex;
      justify-content: flex-end;
      width: 45%;
      //border: 1px solid black;
      padding: 10px;
      legend {
        margin-left: 10px;
        font-size: 20px;
        color: aliceblue;
      }
    }
  }
  
  .search-bar_input {
    margin-right: 10px;
    height: 30px;
    border-radius: 10px;
    width: 300px;
    padding: 5px 10px;
  }
  
  .search-bar_select {
    margin-right: 10px;
    height: 30px;
    border-radius: 10px;
    width: 120px;
    padding: 5px 10px;
  }

  #visits-wrapper {
    //margin-top: 10px;
    //border: 1px solid black;
    overflow: hidden;
    background-size: auto;
    padding: 50px;
    height: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    .visit-card {
      padding: 20px;
      border: 1px solid black;
      width: 15%;
    justify-content: center;
    // .visit-card {
    //   padding: 20px;
    //   border: 1px solid black;
    //   width: 15%;
    // }
    .visits {
      width: 70%;
    }
    .visitDiv {
      padding: 20px;
      border: 1px solid black;
      border-radius: 15px;
      box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
      margin: 10px 0;
      background-color: aliceblue;
      font-family: "Courier New", Courier, monospace;
      font-size: 20px;
     
    }

    .visitTitle {
      display: flex;
      justify-content: space-between;
      @include font-family-Roboto-700-italic;
      
    }

    // .visit_addinfotitle {
    //   text-decoration: underline;
    // }

    .visit_addtitle {
      margin-bottom: 5px;
      text-decoration: underline;
      @include font-family-Roboto-400-italic;
    }

    button {
      // background: #9cd0d4;
      // color: #fff; /* Белый цвет текста */
      // border-radius: 15px;
      // border: 1px solid #64bcc2;

      // padding: 1rem 1.5rem; /* Поля вокруг текста */
      // //margin-top: 20px;
      // font-family: "Courier New", Courier, monospace;
      // font-size: 17px;
      @include buttons;
    }

    .button_wrapper {
      display: flex;
      align-items: center;
      padding-top: 20px;
      justify-content: space-between;
    }

    .button_edit {
      margin-left: 20px;
      @include buttons;
      margin-top: 20px;
   
    }

    .logo_done {
      background-image: url(../img/iconDone.svg);
      background-size: cover;
      background-repeat: no-repeat;
      height: 52px;
      width: 60px;
    }

    .visit_addinfo {
      display: none;
      margin-top: 10px;
    }

    h1 {
      font-size: 21px;
      font-weight: bold;
    }

    h2 {
      font-size: 18px;
      //text-decoration-line: underline;
      font-weight: bold;
    }
  }
}
