@mixin font-family-Roboto-400-normal {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
}

@mixin font-family-Roboto-400-italic {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
}

@mixin font-family-Roboto-700-normal {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
}

@mixin font-family-Roboto-700-italic {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
}

@mixin buttons {
  background: #9cd0d4;
  color: #fff; /* Белый цвет текста */
  border-radius: 15px;
  border: 1px solid #64bcc2;
  padding: 1rem 1.5rem;
  @include font-family-Roboto-400-italic;
  font-size: 18px;

}
