@import "reset";
@import "fonts";
@import "variables";
@import "mixin";
@import "modal";
@import "header";
@import "main";
@import "footer";

.container {
  width: 100%;
  height: 100%;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  &:active {
    transform: translateY(1px);
    border: 1px solid transparent;
  }
}
