@import "reset";
@import "fonts";
@import "variables";
@import "mixin";
@import "modal";
@import "header";
@import "main";

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  &:active {
    transform: translateY(1px);
    border: 1px solid transparent;
  }
}

.container {
  padding: 20px 15px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
