@import "../../../styles/variables";
@import "../../../styles/mixin";

.search-form {
  padding: 0 30px;
  margin-top: 15px;
  height: 100px;
  background-color: $header-bgc;
  @include flex;
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  border-radius: 50px;
}
